.App {
  text-align: center;
}
.appUser {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}
.turn {
  border: 5px solid blue;
  padding: 5px;
  border-radius: 1rem;
  box-shadow: 1px 1px 10px black;
  animation: scale 1s infinite;
}
.vs {
  font-size: 50px;
  font-weight: bold;
  color: white;
  background-color: blueviolet;
  border-radius: 50%;
  padding: 1rem;
}

.reset {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

:disabled {
  background-color: grey;
  cursor: not-allowed;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
